doctype 5
html
  head
    title=title
    
    
    
    link(rel='stylesheet', href='libs/bootstrap/css/bootstrap.css')
    
    link(rel='stylesheet', href='stylesheets/navbar.css')
    link(rel='stylesheet', href='libs/bootstrap/css/bootstrap-responsive.css')
    
    link(rel='stylesheet', href='stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
  body
    block content
    
    script(src="libs/jquery/jquery-2.0.3.min.js")
    script(src="libs/bootstrap/js/bootstrap.min.js")