h1 dependency parser pipe
p please enter a sentence in hebrew and click 'submit'

form(method="post",action="depparse", accept-charset="utf8")
    textarea(name="text", cols="120", rows="30", dir="rtl", value='')
    <br>
    input( type="submit")
    //a(href='/')
        button(type="button") Previous Page
