doctype 5
html
  head
    title=title
    
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css',media="screen")
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css',media="screen")
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    
  body
    include navbar.jade

    script(src="/libs/jquery/jquery-2.0.3.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
