extends base

block content

    .container
        .hero-unit
            .container
                span
                    h1 #{title}
                    .muted version 0.5
            p.
                Welcome To The Hebrew FrameNet,
                Version 0.5 is available for annotators only.
                <br> we are currently working on the full version, see you in the future
            p
                .row.padTop20
                    a.span2.offset2.btn.btn-inverse.btn-large(href="explore/") Explore #{title} (under construction)
                    h4.span1.text-center or
                    if user
                        a.span2.btn.btn-inverse.btn-large(href="annotate") Annotate
                    else
                        a.span2.btn.btn-inverse.btn-large(href="#login",data-toggle="modal") Annotate (Login)

         form(method="post",action="login",name="login_form")
            #login.modal.fade.hide(tabindex="-1",role="dialog",aria-hidden="true")
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type="button",class="close",data-dismiss="modal",aria-hidden="true") &times;
                            h4.modal-title Login to HebFN
                        .modal-body
                            p
                                input.span3(type="text",name="username",placeholder="Username")
                            p
                                input.span3(type="password",name="password",placeholder="Password")
                        .modal-footer
                            button.btn.btn-inverse(type="submit") Login
