.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container
            button(type="button",data-toggle="collapse",data-target=".nav-collapse").btn.btn-navbar
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand
                img(src="images/hebfn_logo_no_bk.png", alt="" ).img_thumb
            a.brand(href="#") HebFN &nbsp
                i.icon-home.icon-white
            .nav-collapse.collapse
                ul.nav
                    li.dropdown
                            a.dropdown-toggle(id="dLabel",role="button", data-toggle="dropdown", data-target="#",href="/index.html", ng-click="getFrameHist()"  )
                                | LINKS
                                b.caret
                            ul.dropdown-menu(role="menu", aria-labelledby="dLabel", style="{height: 100px; overflow-y: auto;}")
                                li
                                    a(href="https://framenet.icsi.berkeley.edu/fndrupal/" ,target="_blank") English FN
                                li
                                    a(href="https://drive.google.com/file/d/0B6Ynt-H6OkTBUFgyWjBxdHJmdVU/edit?usp=sharing" ,target="_blank") FN Book
                                li(hidden)
                                    a.hide(href="https://framenet.icsi.berkeley.edu/fndrupal/" ,target="_blank") English FN
                    li
                        a(href="")
                            | Heb Annotator Guide &nbsp
                            i.icon-align-justify.icon-white


                ul.nav.pull-right
                    li
                        a(href="mailto:hebrew.framenet.bgu@gmail.com")
                            | hebrew.framenet.bgu@gmail.com &nbsp
                            i.icon-envelope.icon-white
                    li
                        a(href="logout") Logout &nbsp
                            i.icon-remove-circle.icon-white





                