.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container
            button(type="button",data-toggle="collapse",data-target=".nav-collapse").btn.btn-navbar
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="#") HebFN
            .nav-collapse.collapse
                ul.nav
                    //li.active
                    //    a(href="/") Home
                    //li
                        a(href="#") Explore
                    //li
                        a(href="#") About
                    //li
                        a(href="#") Contact
                    li
                        a(href="logout") Logout

                