h1 morphological disambiguation pipe
p please enter a sentence in hebrew and click 'submit' - it is recommanded to choose the 'json' format
p hi
p
    a(href='http://localhost:5005/HBCTPWeb/search?db=haaretz&from=1&to=2&diversity=false&query=$w.word=%22ילד%22%20;%20$w')  link1
form(method="get", action="http://localhost:5005/HBCTPWeb/search?db=haaretz&from=1&to=2&diversity=false&query=$w.pos=%22verb%22%20;%20$w", accept-charset="utf8")
    input( type="submit")