h1 hi tal
h2 hi tal

form(method='post', action='talAjax')
    key text one
        input(type='text', name='text1', value='default value1')
    br
    input(type='text', name='text2') text two
    br
    input(type='text', name='text3[ttt]')
    br
    input(type='text', name='text3[ttt1][a1]')
    br
    input(type='text', name='text3[ttt1][a1]')
    br
    input(type='submit', value='send data')