form(method='post', action='trysemtype')
    fieldset
        legend try
        br
        key sem1
            input(type='text', name='semtype')
        br
        key sem2
            input(type='text', name='semtype')
        key sem3
            input(type='text', name='semtype')
    input(type='submit')