.hideOverflow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

#frame-definition {
    margin-bottom: 40px;
}

#frame-relations {
    padding-left: 50px;
}

.def-root {
    line-height: 1.5em;
}

.ex {
    margin-top: 10px;
    margin-left: 50px;
    font-style: italic;
}

.fex {
    border-radius: 4px;
    padding: 1px 6px;
}

.ex t {
    font-weight: bold;
}


.frame-title {
    margin-top: 0;
}

a.no-underline:hover {
    text-decoration: none;
}

.active .white {
    color: #fff;
}

frame-info, .frame-info {
    position: relative;
}

.engFNLink {
    position: absolute;
    top: 0;
    right: 0;
}

.rtl {
    direction: rtl;
    text-align: right;
}