.hideOverflow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

#frame-definition {
    margin-bottom: 50px;
}

.def-root {
    line-height: 1.5em;
}

.ex {
    display: block;
    margin-top: 10px;
    margin-left: 50px;
    font-style: italic;
}

.fex {
    border-radius: 4px;
    padding: 1px 6px;
}

.ex t {
    font-weight: bold;
}


.frame-title {
    margin-top: 0;
}