.hideOverflow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.def-root {
    line-height: 1.5em;
}

.ex {
    display: block;
}

.fex {
    border-radius: 4px;
    padding: 1px 6px;
}

.ex t {
    font-weight: bold;
}