#auth-error {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

#auth-error span {
    display: inline-block;
}

.login-form {
    padding: 10px;
    min-width: 240px;
}

.login-form input {
    margin-bottom: .5em;
}

.login-form button {
    margin-top: .75em;
    width: 100%;
    height: 32px;
    font-size: 13px;
}

.hideOverflow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

#frame-relations {
    padding-left: 50px;
}

.def-root {
    line-height: 1.5em;
}

.ex {
    margin-top: 10px;
    margin-left: 50px;
    font-style: italic;
}

.fex {
    border-radius: 4px;
    padding: 1px 6px;
}

.ex t {
    font-weight: bold;
}

.frame-title {
    margin-top: 0;
}

a.no-underline:hover {
    text-decoration: none;
}

.active .white {
    color: #fff;
}

.black {
    color: #333;
}

frame-info, .frame-info {
    position: relative;
}

.engFNLink {
    position: absolute;
    top: 0;
    right: 0;
}

.rtl {
    direction: rtl;
    text-align: right;
}

.left-form-control-feedback {
    left: 0px;
}

.has-feedback .form-control.rtl{
    padding-right: 12px; 
}

.form-group .alert {
    margin-bottom: 0;
}

.list-group-item>.badge.no-float {
    float: none;
}

.pointer {
    cursor: pointer;
}

#loading-sentences {
    margin: 150px auto;
    width: 65%;
}

#loading-sentences .progress-bar{
    position: relative;
    animation: mymove 1.8s infinite alternate linear;
    -webkit-animation: mymove 1.8s infinite alternate linear;
    width: 40%;
}

@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 60%;}
}

@keyframes mymove {
    from {left: 0px;}
    to {right: 60%;}
}

.highlightLU {
    background-color: #ea0;
    font-weight: bold;
}