.row
    .row
        .span12
            a(href="#") Dashboard
            | &nbsp;>>  &nbsp;
            a(href="#/explore?frame={{selectedFrameName}}") Explore
            | &nbsp;>>  &nbsp;
            a Add LUs to {{selectedFrameName}}
            .pull-right
                //button.btn.btn-inverse.btn-large#finishedButton(type="button")
                    |I\'ve finished!
    .row
        .span12
            H2 Manage LUs in the {{selectedFrameName}} Frame
    .row

        .span8
            div.dropdown
                a.dropdown-toggle(id="dLabel",role="button", data-toggle="dropdown", data-target="#",href="/index.html", ng-click="getFrameHist()"  ) Actions History
                    b.caret
                ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                    //li(ng-repeat="entry in frameHist") &nbsp  {{getDate(entry.cDate)}} {{entry.cBy}} {{entry.action}} {{entry.refs.luName}} &nbsp
                    li(ng-repeat="entry in frameHist") &nbsp  {{getDate(entry.cDate)}} {{entry.text}} &nbsp
                    //li(ng-repeat="entry in frameHist") &nbsp  {{createHistStr(entry)}} &nbsp


            ul#top
        .span2
            a(href="https://framenet2.icsi.berkeley.edu/fnReports/data/frameIndex.xml?frame="+"{{selectedFrame.engData.frame['@name']}}", target="_blank")
                | open frame in engFN

    .row
        .span12(style="display:none",ng-show="selectedFrame!=''")
                .compact
                    include frame-full

    .row
        .span4
            table.table.table-bordered.table-hover.table-striped.lus-table
                thead
                    tr
                        th#add-lus-th
                            h4 English Lexical Units
                            p.no-bold Click to see translations


                tbody
                    tr(ng-repeat="lu in frameLus",ng-click="updateLuTranslations($index)",ng-class="{selected: $index==selectedEngLUIdx}")
                        td {{lu.name}} ({{lu.pos | lowercase}})
                        td
                            label.checkbox.inline
                                input(type="checkbox", id="inlineCheckbox1" ,value="option1")
                                    |1
        .span4.rtl
            //table.table.table-bordered.table-hover.table-striped.lus-table.heb-lus
            table.table.table-bordered.table-hover.table-striped.lus-table.heb-lus
                thead
                    tr
                        th#add-lus-th
                            h4 Add Free-Text LU
                            p.no-bold Look for sentences and add custom LUs


                tbody
                    tr
                        td
                            |מותאם אישית
                            .pull-left
                                i.icon-search.clickable.padded5(ng-click="searchSentencesIconClicked()", title="Search for sentences")
                                //i.icon-question-sign.clickable.padded5(ng-click="selectHebLU(-1)")
                                i.icon-plus-sign.clickable.padded5(ng-click="addLuIconClicked()", title="Add a custom LU")

            table.table.table-bordered.table-hover.table-striped.lus-table.heb-lus(ng-show="luTranslations != ''")
                thead
                    tr
                        th#add-lus-th
                            //h4 Hebrew Translations of {{frameLus[selectedEngLUIdx].name}}
                            h4 Translations of <u> {{frameLus[selectedEngLUIdx].name}} </u>
                            p.no-bold Associate with frame or show example sentences

                tbody
                    tr(ng-repeat="t in luTranslations")
                        td(ng-hide="checkTranslation(t)")
                            |{{t.name}} ({{t.pos}})
                            .pull-left
                                //i.icon-question-sign.clickable.padded5(ng-click="selectHebLU($index)")
                                i.icon-plus-sign.clickable.padded5(ng-click="addLuIconClicked(t.name,t.pos)")

        .span4.rtl
            table.table.table-bordered.table-hover.table-striped.lus-table.special-table
                thead
                    tr
                        th#add-lus-th
                            h4 Current Hebrew LUs
                tbody
                    tr(ng-repeat="lu in selectedFrameHebLUs")
                        td 
                            |{{lu.name}} ({{lu.pos}})
                            .pull-left
                                a(href="#/add-sentences/{{selectedFrameName}}/{{lu.name}}.{{lu.pos}}")
                                    i.icon-plus-sign.padded5.clickable(title="LU sentence management")
                                i.icon-search.clickable.padded5(ng-click="searchSentencesIconClicked(lu.name,lu.pos)", title="Search for sentences")
                                a(href="#/edit-lu/{{selectedFrameName}}/{{lu.name}}/{{lu.pos}}")
                                    i.icon-edit.padded5.clickable(title="Edit the LU")
                                //i.icon-question-sign.padded5.clickable(ng-click="")
                                i.icon-minus-sign.padded5.clickable(ng-click="removeHebLU(lu.name,lu.pos)", title="Remove the LU from the current frame")







        .add-lus-tooltip#approve-delete
            i.icon-remove.pull-right.clickable 
            H4 Are you sure you would like to {{}} 
                button.btn.btn-inverse.btn-large.controls(type="button")
                    |Yes
                button.btn.btn-inverse.btn-large.controls(type="button")
                    |Cancel



        form.form-horizontal
            #search-modal.add-lus-modal.modal.fade.hide(tabindex="-1",role="dialog",aria-hidden="true")
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type="button",class="close",data-dismiss="modal",aria-hidden="true") &times;
                            h4.modal-title
                                |Sentences containing
                                input.input-mini(type="text",placeholder="LU Name",ng-model="searchName", ng-disabled="getSelectedHebLU().name")
                                |(
                                select.input-mini(ng-model="searchPos",ng-options="value for (key,value) in POSs", ng-disabled="getSelectedHebLU().name")
                                |) &nbsp;&nbsp;
                                select.input-small(ng-model="searchWhat",ng-options="value for value in queryFields")
                                | &nbsp;&nbsp;
                                span.small-text.padded5
                                    input(type="checkbox",ng-model="noDiversify")
                                    &nbsp; Cancel diversification
                                | &nbsp;&nbsp;
                                i.icon-search.clickable(ng-click="page=1; loadSentencesForSearch()")
                    .modal-body
                        .loading-gif(ng-show="lastSentCallInProgress")
                        table.rtl(ng-show="!lastSentCallInProgress && foundSentences.length>0")
                            tr(ng-repeat="sent in foundSentences")
                                td.btn-group(data-toggle-name="is_private", data-toggle="buttons-radio")#sent-corr
                                    div(ng-hide="!getSelectedHebLU().name")
                                        button.btn.btn-mini(type="button", value="0", ng-class="{active: (sent.status == 'good') }", ng-click="setLuSentCorrelation(sent.id,'good',sent.text)" ,data-toggle="button tooltip",title="the sentence is suitable for this lu")
                                            i.icon-ok
                                        button.btn.btn-mini(type="button", value="1",ng-class="{active: (sent.status == 'bad') }" ,ng-click="setLuSentCorrelation(sent.id,'bad',sent.text)", data-toggle="button",title="this sentence is NOT suitable for this lu")
                                            i.icon-remove
                                        button.btn.btn-mini(type="button", value="2", ng-class="{active: (sent.status == 'maybe') }",ng-click="setLuSentCorrelation(sent.id,'maybe',sent.text)", data-toggle="button",title="this sentence may be suitable for this lu")
                                            i.icon-question-sign
                                td#sent-searched(ng-bind-html-unsafe="sent.text")
                        div(ng-show="foundSentences!=-1 && foundSentences.length==0")
                            |No matching sentences were found

                    .modal-footer
                        span.pagination
                            p.help-inline [{{page}}]
                            ul
                                li
                                    a(ng-click="loadFirst()") first
                                li
                                    a(ng-click="loadAndDec()") Prev
                                li
                                    a(ng-click="loadAndInc()") Next



        form.form-horizontal
            #add-modal.add-lus-modal.modal.fade.hide(tabindex="-1",role="dialog",aria-hidden="true")
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type="button",class="close",data-dismiss="modal",aria-hidden="true") &times;
                            h4.modal-title Add Hebrew LU {{LuToBeAddedName}} ({{LuToBeAddedPos}}) To Frame {{selectedFrameName}}
                        .modal-body
                            .control-group(ng-class="{error: !LuToBeAddedName.length>0}")
                                label.control-label(for="new-lu-name") LU Name
                                input.controls#new-lu-name.input-xlarge(type="text",placeholder="LU Name",ng-model="LuToBeAddedName")
                                span.help-inline(ng-hide="LuToBeAddedName.length>0") Name cannot be empty
                            .control-group(ng-class="{error: !LuToBeAddedPos.length>0}")
                                label.control-label(for="new-lu-pos") LU POS
                                select.controls#new-lu-pos.input-small(ng-model="LuToBeAddedPos",ng-options="value for (key,value) in POSs")
                                span.help-inline(ng-hide="LuToBeAddedPos.length>0") Pos cannot be empty
                            //.control-group
                                label.control-label(for="new-lu-not-suggest") I'm sure this is a valid LU
                                input.controls#new-lu-not-suggest(type="checkbox",ng-model="addingSeggustion")
                            .control-group
                                label.control-label(for="new-lu-name") Comment(optional)
                                textarea.rtl.controls.input-xlarge#new-lu-name(type="text",ng-model="LuToBeAddedComment")
                            .control-group(ng-show="selectedEngLUIdx!=-1")
                                label.control-label(for="new-lu-not-suggest") Translated from <b> {{frameLus[selectedEngLUIdx].name}} ({{frameLus[selectedEngLUIdx].pos.toLowerCase()}}) </b>
                                input.controls#new-lu-not-suggest(type="checkbox",ng-model="LuToBeAddedWasTranslated")
                    .modal-footer
                        .control-group#add-lu-submit
                            button.btn.btn-inverse.btn-large(type="button",ng-click="addHebLU(LuToBeAddedName,LuToBeAddedPos,addingSeggustion,LuToBeAddedComment,LuToBeAddedWasTranslated)")
                                | Add

.white-space                   
            