.row
    .row
        .span12
            a(href="#") Annotate 
            | >> 
            a(href="#/explore") Explore
            | >>
            a Add Sentences To LU
    .row(style="display:none",ng-show="selectedFrame!=''")
        .span12
            H2 Add Sentences To {{selectedFrameName}} 
    .row
        .span12
            h4 Matching Sentences Found
            p.no-bold Click actions to associate sentences with the frame or mark them as wronglfully parsed
            
            h4 Cuurent Sentences
            ul.rtl(ng-show="currentSentences.length > 0")
                li(ng-repeat="sent in currentSentences")
                    |{{sent}}        
            #no-sentences-current(ng-show="currentSentences.length == 0")
                |No sentences 
                
            h4 Sentences from search
            ul.rtl(ng-show="foundSentences.length > 0")
                li(ng-repeat="sent in foundSentences")
                    |{{sent}}   
            #no-sentences-found(ng-show="foundSentences.length == 0")
                |No sentences found

            