.row
    .row
        .span12
            a(href="#") Dashboard
            | &nbsp;>>  &nbsp;
            a(href="#/explore") Explore
            | &nbsp;>>  &nbsp;
            a Add Sentences To LU
    .row(style="display:none",ng-show="selectedFrame!=''")
        .span12
            H2 Manage sentences for {{selectedLUName}} in the frame {{selectedFrameName}}
    .row
        .span12
            a(href="#/marker/{{selectedFrameName}}/{{selectedLUName}}" ) annotate this LU
    .row
        .span12
            // h4 Matching Sentences Found
            // p.no-bold Click actions to associate sentences with the frame or mark them as wronglfully parsed

            h4 Associated Sentences
            div.well.rtl(ng-show="currentSentences.length > 0")
                p.row(ng-repeat="sent in currentSentences")
                    span.span10
                        |{{sent.content.fullSentence.text}}
                    button.btn.btn-mini.span1(type="button", value="0", ng-click="removeFromLu(sent)", title="remove from lu")
                        i.icon-remove-sign
            #no-sentences-current.well(ng-show="currentSentences.length == 0")
                |No sentences 

            h4 Recommended Sentences
            div.well.rtl(ng-show="correlatedSentences.length > 0")
                p.row(ng-repeat="sent in correlatedSentences | filter:filterAssociatedFromList")
                    span.span10
                        | {{sent.text}}
                    button.btn.btn-mini.span1(type="button", value="0", ng-click="getSentenceData(sent, associateSentence)", title="Associate this sentence with the current LU")
                        i.icon-plus-sign
            #no-sentences-current.well(ng-show="correlatedSentences.length == 0")
                |No sentences 

                
            h4 Sentences from search engine
            div.well(id="sentences-list-wrapper")
                .loading-gif(ng-show="showLoader")
                div#sentences-list.rtl(ng-show="!showLoader && foundSentences.length > 0")
                    p.row(ng-repeat="sent in foundSentences | filter:filterExamplesFromList")
                        span.sentence.span9
                            |{{sent.text}}
                        button.btn.btn-mini.span1(type="button", value="0", ng-class="{active: (sent.status == 'good') }", ng-click="associateSentence(sent)",title="Associate this sentence with the current LU")
                            i.icon-plus-sign
                #no-sentences-found(ng-show="foundSentences.length == 0 && !showLoader")
                    |No sentences found
                .modal-footer
                    span.pagination
                        p.help-inline [{{page}}]
                        ul
                           li
                               a(ng-click="loadFirst()") first
                           li
                               a(ng-click="loadAndDec()") Prev
                           li
                               a(ng-click="loadAndInc()") Next
            

            