.row
    .row
        .span12
            a(href="#") Dashboard
            | &nbsp;>>  &nbsp;
            a(href="#/explore") Explore
            | &nbsp;>>  &nbsp;
            a Add Sentences To LU
    .row(style="display:none",ng-show="selectedFrame!=''")
        .span12
            H2 Add Sentences To {{selectedFrameName}}
    .row
        .span12
            a(href="#/marker/{{selectedFrameName}}/{{selectedLUName}}" ) annotate this LU
    .row
        .span12
            h4 Matching Sentences Found
            p.no-bold Click actions to associate sentences with the frame or mark them as wronglfully parsed

            h4 Recommended Sentences
            div.rtl(ng-show="correlatedSentences.length > 0")
                p.row(ng-repeat="sent in correlatedSentences")
                    span.span10
                        | {{sent.text}}
                    button.btn.btn-mini.span1(type="button", value="0")
                        i.icon-flag(ng-click="badSegRec($index)", title="bad segmentation").clickable
                    button.btn.btn-mini.span1(type="button", value="0")
                        i.icon-plus-sign(ng-click="getSentenceData($index)", title="Associate this sentence with the current LU").clickable

            h4 Associated Sentences
            div.rtl(ng-show="currentSentences.length > 0")
                p.row(ng-repeat="sent in currentSentences")
                    span.span10
                        |{{sent.content.fullSentence.text}}
                    button.btn.btn-mini.span1(type="button", value="0")
                        i.icon-flag(ng-click="badSegAss($index)", title="bad segmentation").clickable
                    button.btn.btn-mini.span1(type="button", value="0")
                        i.icon-remove-sign(ng-click="removeFromLu($index)", title="remove from lu").clickable
            #no-sentences-current(ng-show="currentSentences.length == 0")
                |No sentences 
                
            h4 Sentences from search engine
            div(id="sentences-list")
                .loading-gif(ng-show="showLoader")
                div.rtl(ng-show="foundSentences.length > 0")
                    p.row(ng-repeat="sent in foundSentences")
                        span.sentence.span11
                            |{{sent.text}}
                        button.btn.btn-mini.span1(type="button", value="0", ng-class="{active: (sent.status == 'good') }", ng-click="associateSentence(sent)",title="Associate this sentence with the current LU")
                            i.icon-ok
                #no-sentences-found(ng-show="foundSentences.length == 0 && !showLoader")
                    |No sentences found

            