
#edit-lu
    .row
        .span12
            a(href="#") Dashboard
            | &nbsp;>>  &nbsp;
            a(href="#/explore?frame={{frameName}}") Explore
            | &nbsp;>>  &nbsp;
            a(href="#/add-lus/{{frameName}}") Add LUs to {{frameName}}
            | &nbsp;>>  &nbsp;
            a Edit {{luName}}.{{luPos}} Details
            .pull-right
    H1 Edit LU Details
    H4 Frame: {{frameName}}
    .compact
        include frame-full
    .row
        form.form-horizontal.span8.table-bordered
                .control-group.padTop20
                    label.control-label
                        |LU Name
                        a(href="http://he.wiktionary.org/wiki/{{selectedLU['@name'].split('.')[0]}}", target="_blank")
                            .icon-question-sign.clickable(title="Look up on Wikimilon")

                    input.controls.input-large.rtl(type="text", ng-model="newName")
                .control-group
                    label.control-label LU POS
                    select.controls.input-large(ng-model="newPos", ng-options="v for (k,v) in POSs")
                .control-group
                    label.control-label LU Status 
                    select.controls.input-large(ng-model="luStatus",ng-options="value for value in constants.luStatus.values")
                .control-group.padTop20
                    label.control-label Definition
                    textarea#edit-lu-defenition.controls(rows="3",ng-model="luDefenition")
                .control-group.padTop20.input-append
                    label.control-label Semantic Type
                    select.controls.input-large(ng-model="selectedSemType",ng-options="value for value in constants.semType.values")
                    button.btn.btn-inverse(type="button",ng-click="addSelectedSemType()")
                        | ADD
                .control-group(ng-class="{error:isSemTypeValid()}")
                    textarea#new-sem-type(rows="3",ng-model="semType") 
                .control-group.padTop20
                    label.control-label Lemma
                    textarea#edit-lu-defenition.controls(rows="3",ng-model="luLemma")
                .control-group.padTop20
                    label.control-label IncoFe
                    select.controls.input-large(ng-model="luIncoFe",ng-options="value for value in getListOfFes()")
                .control-group#add-lu-submit
                        button.btn.btn-inverse.btn-large(type="button",ng-click="editLu()")
                            |Commit Changes

        div#comments.span4.table-bordered
            div#comments-inner
                p.comment(ng-repeat="c in luComments")
                    span {{c.content}} 
                        span.comment-signature
                            |({{c.cBy}} @ {{c.cDate | date: 'dd/MM/yyyy, H:mm'}})       
            form
                .control-group.fix-comment-box
                     textarea#add-comment.controls(rows="3",ng-model="newComment")
                .control-group#add-lu-submit
                    button.btn.btn-inverse.btn-large(type="button",ng-click="postComment()")
                        |Add Comment
                
