.row
    .well
        h2 Announcments
        p Welcome
.row
    ul.thumbnails
        li.span3
            .thumbnail(style='padding: 0;')
              .caption.annotate-goal
                a(href="#/explore")
                    h4 Add LUs
                p Associate new hebrew lexical units to frames
              .modal-footer
                .text-left
                    .progress.progress-striped.active.dark-bg
                      .bar(style='width: 20%;')
                    .row-fluid
                      .span4
                        b 0
                        br
                        small Done
                      .span4
                        b 300
                        br
                        small Target
                      .span4
                        b 0
                        br
                        small %
        li.span3
            .thumbnail(style='padding: 0;')
              .caption.annotate-goal
                a(href="#/explore")
                    h4 Choose Sentences
                p Find LUs examples
              .modal-footer
                .text-left
                    .progress.progress-striped.active.dark-bg
                      .bar(style='width: 20%;')
                    .row-fluid
                      .span4
                        b 0
                        br
                        small Done
                      .span4
                        b 300
                        br
                        small Target
                      .span4
                        b 0
                        br
                        small %
        li.span3
            .thumbnail(style='padding: 0;')
              .caption.annotate-goal
                a(href="#/explore")
                    h4 Choose Sentences
                p Find LUs examples
              .modal-footer
                .text-left
                    .progress.progress-striped.active.dark-bg
                      .bar(style='width: 20%;')
                    .row-fluid
                      .span4
                        b 0
                        br
                        small Done
                      .span4
                        b 300
                        br
                        small Target
                      .span4
                        b 0
                        br
                        small %
        li.span3
            .thumbnail(style='padding: 0;')
              .caption.annotate-goal
                a(href="#/explore")
                    h4 Choose Sentances
                p Find LUs examples
              .modal-footer
                .text-left
                    .progress.progress-striped.active.dark-bg
                      .bar(style='width: 20%;')
                    .row-fluid
                      .span4
                        b 0
                        br
                        small Done
                      .span4
                        b 300
                        br
                        small Target
                      .span4
                        b 0
                        br
                        small %