
.padTop20
{
    padding-top: 20px;
}
.padTop10
{
    padding-top: 10px;
}
.hebfn-content
{
    padding-top: 60px;
    padding-left: 20px;
}
.marg5
{
    margin-left:5px;
    margin-right:5px;
}
#edit-lu textarea
{
     width: 257px;
}
#new-sem-type
{
    left: 340px;
    position: relative;
   
}
.rtl
{
    direction: rtl;
}
#add-heb-lus label
{
    width:200px;
    
}
#add-heb-lus form
{
    margin-top: 30px;
    margin-left: 20px;
    
}
#add-heb-lus .controls
{
    margin-left: 90px;
}

#add-lu-submit
{
    text-align:center;
}
.miniable
{
    border:1px solid #DCE2F1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding:10px;
    margin:5px 0 5px 0;
}
.add-lus-tooltip
{
    position: absolute;
    display: none;
    border: #616B70 solid 1px;
    width: 860px;
    min-height: 180px;
    margin-left: -310px;
    margin-top: 34px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    padding: 12px;
}
.add-lus-tooltip:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 8px solid black;
    left: 575px;
    top: -8px;
}
table .selected td
{
   background-color:  #0088cc !important;
   color: #ffffff;
}
.rtl td
{
    text-align: right;
}
.table-bordered th, .table-bordered td
{
    border-left: 0;
}
.table-bordered
{
    border: 1px solid #ddd;
}
#error-modal
{
    
}
#sentences ul
{
    margin-right:20px;
}
#sentences .loading-gif
{
    margin-left:400px;
    margin-top:50px;
}
/*
.special-table tbody>tr:nth-child(odd)>td
{
    background-color:#D6E1F5;
}
.special-table tbody>tr:nth-child(even)>td
{
    background-color:#F2F6FD;
}
.special-table tbody>tr:hover>td
{
    background-color:#C0D3F5;
}*/
#add-lus-th
{
    height: 100px;
    vertical-align: middle;
    padding-left: 20px;
}

.no-bold
{
    font-weight: normal;
}
#add-lus
{
    margin-top: 15px;
    margin-right: 15px;
}
.annotate-goal
{
    height: 180px;
}
.dark-bg
{
    background: #ddd;
}
.inline-header
{
    display: inline-block;
}
#selected-frame-def
{
    line-height: 1.7;
}

#selected-frame-def fen,#selected-frame-def fex{
    background-color: #DCE2F1;
 
    padding: 1px 6px 1px 6px;
    border-radius: 4px;
}



#selected-frame-def ex{
    font-style: italic;
    margin-right: 500px;
    white-space: pre;
}
#selected-frame-def ex t{
    font-weight: bold;
}
.half-space
{
    width: 47%;
    float: left;
    margin-left: 20px;
}
.non-dramatic-modal {background: none;}
/*
body:after
{
content: url(/images/loading.gif);
display:none;
}*/
#frame-full-top-add
{
    top: -60px;
    position: relative;
}
.loading-gif
{
    background-image:url(../images/loading.gif);

    display:block;

    margin-top:-16px;
    width:32px;
    height:32px;
}
.compact .compact-hidden
{
    display:none;
}

#finishedButton
{
    
}
.white-space
{
    display: block;
    height: 400px;
}
.clickable a:hover 
{
    text-decoration:none;
}
.clickable:hover 
{
    cursor:pointer;
}
.see-more
{
    text-align: center;
    margin-top: 30px;
}
.inline-header
{
    font-weight:bold;
    display:inline;
}
.padded5
{
    padding-left:4px;
}
.comma-list {
  display: inline;
  list-style: none;
  margin-left: 0;
}

.comma-list li {
  display: inline;
}

.comma-list li + li:before {
    content: ", ";
}

#frame-search
{
    margin-bottom:10px;
    padding-right:0;
}

.blue-butt {
   border:0;
   background: #65a9d7;
   padding: 2px 5px;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   vertical-align: middle;
   }
.blue-butt:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }



.fe-box {
    border: 1px black solid;
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
}
.bckgr{
    /*background-color: cornsilk;*/
    border:1px solid #DCE2F1;
    /*
    margin:5px 0 5px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;*/
    border-radius: 4px;
    /*padding-right:20px;*/

}

.margin5{
    margin-right: 20px;

}
.text-border{
    border:1px solid #DCE2F1;
    /*
    margin:5px 0 5px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;*/
    border-radius: 4px;

}


.white-bckg {
    background: white;

}

.padAround10
{
    padding-bottom:10px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;

}

.add-lus-modal
{
      width:800px;
      margin-left: -400px;

}
span.selected {
    border-top: solid 1px red;
    border-bottom: solid 1px red;
}

*.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

*.clickable-text2:hover {
    text-shadow: 3px 5px 10px #000;
}


*.selected_left {
    border-top: solid 1px red;
    border-bottom: solid 1px red;
    border-left: solid 1px red;
}
*.selected_right {
    border-top: solid 1px red;
    border-bottom: solid 1px red;
    border-right: solid 1px red;
}

*.selected-sent {

    /*box-shadow: 10px 10px 5px #888888;
    border:2px red solid; */

    background: lightsteelblue;
    padding: 2px 2px;
    /*-webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;     */
    vertical-align: middle;
}


*.taggedSentence {
    box-shadow: 10px 10px 5px #888888;
    border:0;
    background: #65a9d7;
    padding: 2px 5px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    vertical-align: middle;

}

span.wordStyle {
    padding: 5px 0px 5px;
    display: inline-block;
}

*.mark {
    text-shadow: 3px 5px 10px #000;
}

*.hover {
    border: 2px black solid;
    margin: 2px;
    padding: 2px 2px 2px;
}

#sent-corr{
    direction: ltr;
}
#sent-searched
{
    padding-bottom: 15px;
    padding-right: 10px;
}

.img_thumb {
    height: 35px
}
.small-text  {
    font-size: 12px;
}

#sentences-list-wrapper{
    margin-top: 20px;
}

#sentences-list {
    height: 590px;
    overflow-y: auto;
}

#sentences-list > p {
    width: 95%;
}

.sentence {
    display: inline-block;
    vertical-align: middle;
}