ul.
    <form method="post" action="morph" accept-charset="utf8">
        <textarea name="text" cols="120" rows="30" dir="rtl">   </textarea>
        <br>
            json: <input type="checkbox" name="json">,
            plain: <input type="checkbox" name="plain">,
            p: <input type="checkbox" name="bm">
            foreign words: <input type="checkbox" name="foreign">
            <input type="submit">
        </form>
