<h1 class="margin-bottom-20">{{exploreInfo.frameName}}</h1>

<div class="frame-info margin-bottom-40">
  <english-frame-info frame-name="exploreInfo.frameName" show-all="true"></english-frame-info>
</div>

<h2>Associated Lexical Units</h2>
<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">English LUs</div>
      <table class="table table-hover">
	<tr>
	  <th>LU</th>
	  <th>Status</th>
	</tr>
	<tr ng-repeat="lu in exploreInfo.frame.engData.frame.lexUnit">
	  <td><a href="https://framenet2.icsi.berkeley.edu/fnReports/data/lu/lu{{lu['@ID']}}.xml?mode=lexentry">{{lu['@name']}}</a></td>
	  <td>{{lu['@status']}}</td>
	</tr>
      </table>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">Hebrew LUs</div>
      <table class="table table-hover">
	<tr>
	  <th>LU</th>
	  <th>Status</th>
	</tr>
	<tr ng-repeat="lu in exploreInfo.frame.hebData.lexUnit">
	  <td><a href="#/annotate/{{exploreInfo.frameName}}/{{lu['@name']}}">{{lu['@name']}}</a></td>
	  <td>{{lu['status']}}</td>
	</tr>
      </table>
    </div>
  </div>
</div>
