<div>
  <input type="text" id="explore-search" placeholder="Search for a frame" class="form-control" ng-model="exploreSearch.query" ng-change="exploreSearch.filterFrames(exploreSearch.query)" ng-keyup="exploreSearch.selectFirst($event)" autofocus>
</div>

<ul class="pager">
  <li class="previous" ng-class="{disabled: exploreSearch.isFirstPage()}">
    <a href ng-click="exploreSearch.changePage(exploreSearch.currentPage-1)">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </li>
  <li>
    <span>{{exploreSearch.currentPage}}/{{exploreSearch.numPages}}</span>
  </li>
  <li class="next" ng-class="{disabled: exploreSearch.isLastPage()}">
    <a href ng-click="exploreSearch.changePage(exploreSearch.currentPage+1)">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </li>
</ul>

<div id="explroe-search-results" class="panel panel-default">
  <div class="panel-heading">Frames</div>
  <div class="panel-body" ng-show="!exploreSearch.searchResults.length">
    No frames match the search query.
  </div>
  <ul class="list-group">
    <li class="list-group-item hideOverflow" ng-repeat="result in exploreSearch.searchResults">
      <a ng-href="#/explore/{{result}}" title="{{result}}">{{result}}</a>
    </li>
  </ul>
</div>
