<h1 class="frame-title">{{exploreInfo.info.engData.frame['@name']}}</h1>

<div id="frame-definition"></div>

<h2><a href ng-click="exploreInfo.toggle('showFEs')" class="no-underline"> Frame elements <span class="glyphicon small" ng-class="{'glyphicon-chevron-down': !exploreInfo.showFEs, 'glyphicon-chevron-up': exploreInfo.showFEs}"></span></a></h2>
<div ng-show="exploreInfo.showFEs" class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">Core FEs</div>
      <ul class="list-group">
	<li class="list-group-item" ng-repeat="fe in exploreInfo.info.engData.fes.core">
	  <a href ng-click="fe.show = !fe.show">{{fe.name}}</a>
	  <div ng-show="fe.show" ng-bind-html="fe.def"></div>
	</li>
      </ul>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">Non-core FEs</div>
      <ul class="list-group">
	<li class="list-group-item" ng-repeat="fe in exploreInfo.info.engData.fes.nonCore">
	  <a href ng-click="fe.show = !fe.show">{{fe.name}}</a>
	  <div ng-show="fe.show" ng-bind-html="fe.def"></div>
	</li>
      </ul>
    </div>
  </div>
</div>

<h2><a href ng-click="exploreInfo.toggle('showRelations')" class="no-underline"> Inter-frame relations <span class="glyphicon small" ng-class="{'glyphicon-chevron-down': !exploreInfo.showRelations, 'glyphicon-chevron-up': exploreInfo.showRelations}"></span></a></h2>
<div ng-show="exploreInfo.showRelations" id="frame-relations">
  <div ng-repeat="relation in exploreInfo.info.engData.frame.frameRelation">
    <div ng-show="relation.relatedFrame.length">
      <h3>{{relation['@type']}}</h3>
      <span ng-repeat="frame in relation.relatedFrame">
	<a ng-href="#/{{frame}}">{{frame}}</a>{{$last ? '' : ', '}}
      </span>
    </div>
  </div>
</div>


<h2>Associated Lexical Units</h2>
<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">English LUs</div>
      <table class="table table-hover">
	<tr>
	  <th>LU</th>
	  <th>Status</th>
	</tr>
	<tr ng-repeat="lu in exploreInfo.info.engData.frame.lexUnit">
	  <td>{{lu['@name']}}</td>
	  <td>{{lu['@status']}}</td>
	</tr>
      </table>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">Hebrew LUs</div>
      <table class="table table-hover">
	<tr>
	  <th>LU</th>
	  <th>Status</th>
	</tr>
	<tr ng-repeat="lu in exploreInfo.info.hebData.lexUnit">
	  <td>{{lu['@name']}}</td>
	  <td>{{lu['status']}}</td>
	</tr>
      </table>
    </div>
  </div>
</div>
