<english-frame-info frame-name="exploreInfo.frameName"></english-frame-info>

<h2>Associated Lexical Units</h2>
<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">English LUs</div>
      <table class="table table-hover">
	<tr>
	  <th>LU</th>
	  <th>Status</th>
	</tr>
	<tr ng-repeat="lu in exploreInfo.frame.engData.frame.lexUnit">
	  <td>{{lu['@name']}}</td>
	  <td>{{lu['@status']}}</td>
	</tr>
      </table>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">Hebrew LUs</div>
      <table class="table table-hover">
	<tr>
	  <th>LU</th>
	  <th>Status</th>
	</tr>
	<tr ng-repeat="lu in exploreInfo.frame.hebData.lexUnit">
	  <td>{{lu['@name']}}</td>
	  <td>{{lu['status']}}</td>
	</tr>
      </table>
    </div>
  </div>
</div>
