<div class="frame-info">
  <english-frame-info frame-data="manageLU.info.engData"></english-frame-info>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">LU Details</h3>
      </div>
    </div>
    <div class="panel-body">
      <form role="form" ng-submit="saveLU">

      </form>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Comments</h3>
      </div>
      <ul class="list-group">
	<li class="list-group-item" ng-repeat="comment in manageLU.info.comments">
	  {{comment.content}}
	  <small>
	    <em>({{comment.cBy}} @ {{comment.cDate | date: 'dd/MM/yyyy, H:mm'}})</em>
	  </small>
	</li>
	<li class="list-group-item">
	  <form role="form" ng-submit="manageLU.addComment()">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="New comment" ng-model="manageLU.newComment">
	      <span class="input-group-btn">
		<button type="submit" class="btn btn-default">Add comment</button>
	      </span>
	    </div>
	  </form>
	</li>
      </ul>
    </div>
  </div>
</div>
