<div class="frame-info">
  <english-frame-info frame-name="manageLU.frameName"></english-frame-info>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">{{manageLU.luInfo.name}}.{{manageLU.luInfo.pos}} Details</h3>
      </div>

      <div class="panel-body">
	<form role="form" name="luForm" class="form-horizontal" ng-submit="luForm.$valid && manageLU.save()" novalidate>
	  
	  <div class="form-group has-feedback" ng-class="{'has-success': luForm.luName.$valid, 'has-error': !luForm.luName.$valid}">
	    <label for="lu-name" class="control-label col-md-3">Name</label>

	    <div class="col-md-9">
	      <div class="input-group">
		<input type="text" class="form-control rtl" id="lu-name" name="luName" ng-model="manageLU.luInfo.name" ng-keyup="manageLU.transformName()" valid-compound required>

		 <span class="glyphicon form-control-feedback left-form-control-feedback glyphicon-ok" ng-show="luForm.luName.$valid"></span>
		 <span class="glyphicon form-control-feedback left-form-control-feedback glyphicon-remove" ng-show="!luForm.luName.$valid"></span>

		<span class="input-group-addon">
		  <a href="http://he.wiktionary.org/wiki/{{manageLU.luInfo.name}}" target="_blank" tabindex="-1">
		    <span class="glyphicon glyphicon-book"></span>
		  </a>
		</span>
	      </div>

	      <div class="text-danger" ng-show="luForm.luName.$error.compound">
	       	The head word of a compound LU must be marked with the @ sign.
	      </div>
	      <div class="text-danger" ng-show="luForm.luName.$error.required">
	       	The LU name field cannot be empty.
	      </div>
	    </div>
	  </div>

	  <div class="form-group" ng-show="manageLU.isCompound()">
	    <label for="lu-sep" class="control-label col-md-3">Multiword type</label>
	    <div class="col-md-9">
	      <select id="lu-sep" class="form-control" ng-model="manageLU.separator" ng-options="type.sep as type.name for type in manageLU.multiwordTypes" ng-change="manageLU.transformName()"></select>
	    </div>
	  </div>	  
	  
	  <div class="form-group">
	    <label for="lu-pos" class="control-label col-md-3">POS</label>
	    <div class="col-md-9">
	      <select id="lu-pos" class="form-control" ng-model="manageLU.luInfo.pos" ng-options="p.pos as p.name for p in manageLU.POSs"></select>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="lu-status" class="control-label col-md-3">Status</label>
	    <div class="col-md-9">
	      <select id="lu-status" class="form-control" ng-model="manageLU.luInfo.status" ng-options="status for status in manageLU.statusValues"></select>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="lu-definition" class="control-label col-md-3">Definition</label>
	    <div class="col-md-9">
	      <textarea id="lu-definition" class="form-control" rows="3" ng-model="manageLU.luInfo.definition"></textarea>
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="lu-semtype" class="control-label col-md-3">Semantic Types</label>
	    <div class="col-md-9">
	      <div class="input-group">
		<select id="lu-semtype" class="form-control" ng-model="manageLU.semType" ng-options="type for type in manageLU.semTypes"></select>
		<span class="input-group-btn">
		  <button type="button" class="btn btn-default" ng-click="manageLU.addSemType()">Add</button>
		</span>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-9 col-md-offset-3">
	    <span ng-repeat-start="type in manageLU.luInfo.semType" class="label label-default pointer" ng-click="manageLU.removeSemType($index)" title="Remove this semantic type">{{type}}</span> <span ng-repeat-end></span>
	  </div>

	  <div class="form-group">
	    <label for="lu-incorporatedfe" class="control-label col-md-3">Incorporated FE</label>
	    <div class="col-md-9">
	      <select id="lu-incorporatedfe" class="form-control" ng-model="manageLU.luInfo['@incorporatedFE']" ng-options="fe['@name'] for fe in manageLU.frameInfo.hebData.FE"></select>
	    </div>
	  </div>

	  <button type="submit" class="btn btn-primary pull-right" ng-disabled="!luForm.$valid">Save</button>

	</form>
      </div>
    </div>

  </div>

  <div class="col-md-5">
    <comments-widget comments-list="manageLU.luInfo.comments" post-function="manageLU.luInfo.addComment(comment)"></comments-widget>
  </div>
</div>
