<div class="frame-info">
  <english-frame-info frame-data="manageFrame.info.engData"></english-frame-info>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">English LUs</h3>
      </div>
      <div class="panel-body">
	Click to see translations
      </div>

      <lu class="list-group">
	<li class="list-group-item clearfix pointer" ng-repeat="lu in manageFrame.info.translations" ng-click="manageFrame.selectActiveEngLU($index)" ng-class="{active: manageFrame.activeEngLUIdx === $index}">
	  <input type="checkbox">
	  {{lu.name}}.{{lu.pos.toLowerCase()}}

	  <span class="pull-right">
	    <a href="https://framenet2.icsi.berkeley.edu/fnReports/data/lu/lu{{lu.luID}}.xml" target="_blank" class="no-underline" title="Open {{lu.name}}.{{lu.pos.toLowerCase()}} in FrameNet">
	      <span class="glyphicon glyphicon-link black white"></span>
	    </a>
	    <a href="http://www.morfix.co.il/{{lu.name}}" target="_blank" class="no-underline" title="View translations in morfix.co.il">
	      <span class="glyphicon glyphicon-globe black white"></span>
	    </a>

	  </span>
	</li>
      </lu>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Translations of <em>{{manageFrame.activeEngLU.name}}.{{manageFrame.activeEngLU.pos.toLowerCase()}}</em></h3>
      </div>
      <div class="panel-body">
	Associate with frame or show example sentences
      </div>

      <lu class="list-group" ng-show="manageFrame.activeEngLU">
	<li class="list-group-item rtl" ng-repeat="t in manageFrame.activeEngLU.translations">
	  {{t.name}}.{{t.pos}}

	  <span class="pull-left">
	    <span class="glyphicon glyphicon-plus-sign"></span>
	  </span>
	</li>
      </lu>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Hebrew LUs</h3>
      </div>
      <div class="panel-body">
	<button type="button" class="btn btn-default">Add a custom LU</button>
      </div>

      <lu class="list-group">
	<li class="list-group-item rtl clearfix" ng-repeat="lu in manageFrame.info.hebData.lexUnit">
	  {{lu['@name']}}
	  
	  <span class="pull-left">
		<span class="badge no-float" title="Number of associated sentences">
		  {{lu.sentenceCount}}
		</span>
		<span class="glyphicon glyphicon-check pointer"></span>
		<span class="glyphicon glyphicon-search pointer"></span>
		<span id="menu{{$index}}" class="hide">
		  <span class="glyphicon glyphicon-edit pointer"></span>
		  <span class="glyphicon glyphicon-trash pointer"></span>
		  <span class="glyphicon glyphicon-plus pointer"></span>
		</span>
		<span class="glyphicon glyphicon-align-justify pointer" ng-click="manageFrame.toggleMenu($index)"></span>
	  </span>
	</li>
      </lu>
    </div>
  </div>

</div>

<comments-widget comments-list="manageFrame.info.hebData.comments" post-function="manageFrame.addComment"></comments-widget>
