<div class="frame-info">
  <english-frame-info frame-data="manageLU.info.engData"></english-frame-info>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">LU Details</h3>
      </div>
    </div>
    <div class="panel-body">
      <form role="form" ng-submit="saveLU">

      </form>
    </div>
  </div>

  <div class="col-md-4">
    <comments-widget comments-list="manageLU.luInfo.comments" post-function="manageLU.addComment"></comments-widget>
  </div>
</div>
