<div class="frame-info">
  <english-frame-info frame-name="frameName"></english-frame-info>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">English LUs</h3>
      </div>
      <div class="panel-body">
	Click to see translations
      </div>

      <lu class="list-group">
	<li class="list-group-item clearfix pointer" ng-repeat="lu in manageFrame.frame.translations" ng-click="manageFrame.selectActiveEngLU($index)" ng-class="{active: manageFrame.activeEngLUIdx === $index}">
	  <input type="checkbox">
	  {{lu.name}}.{{lu.pos.toLowerCase()}}

	  <span class="pull-right">
	    <a href="https://framenet2.icsi.berkeley.edu/fnReports/data/lu/lu{{lu.luID}}.xml" target="_blank" class="no-underline" title="Open {{lu.name}}.{{lu.pos.toLowerCase()}} in FrameNet">
	      <span class="glyphicon glyphicon-link black white"></span>
	    </a>
	    <a href="http://www.morfix.co.il/{{lu.name}}" target="_blank" class="no-underline" title="View translations in morfix.co.il">
	      <span class="glyphicon glyphicon-globe black white"></span>
	    </a>

	  </span>
	</li>
      </lu>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Translations of <em>{{manageFrame.activeEngLU.name}}.{{manageFrame.activeEngLU.pos.toLowerCase()}}</em></h3>
      </div>
      <div class="panel-body">
	Associate with frame or show example sentences
      </div>

      <lu class="list-group" ng-show="manageFrame.activeEngLU">
	<li class="list-group-item rtl" ng-repeat="t in manageFrame.activeEngLU.translations">
	  {{t.name}}.{{t.pos}}

	  <span class="pull-left">
	    <a href="#/{{frameName}}/{{t.name}}.{{t.pos}}">
	      <span class="glyphicon glyphicon-plus-sign black"></span>
	    </a>
	  </span>
	</li>
      </lu>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Hebrew LUs</h3>
      </div>
      <div class="panel-body">
	<a href="#/{{frameName}}/lu/">
	  <button type="button" class="btn btn-default">Add a custom LU</button>
	</a>
      </div>

      <lu class="list-group">
	<li class="list-group-item rtl clearfix" ng-repeat="lu in manageFrame.frame.hebData.lexUnit">
	  {{lu['@name']}}
	  
	  <span class="pull-left">
	    <span class="badge no-float" title="Number of associated sentences">
	      {{lu.sentenceCount}}
	    </span>
	    <span class="glyphicon glyphicon-check pointer"></span>
	    <a href="#/{{frameName}}/{{lu['@name']}}/sentences">
	      <span class="glyphicon glyphicon-search black"></span>
	    </a>
	    <span id="menu{{$index}}" class="hide">
	      <a href="#/{{frameName}}/{{lu['@name']}}">
		<span class="glyphicon glyphicon-edit black"></span>
	      </a>
	      <span class="glyphicon glyphicon-trash pointer" data-toggle="modal" data-target="#delete-lu" ng-click="manageFrame.selectedLU=lu"></span>
	    </span>
	    <span class="glyphicon glyphicon-align-justify pointer" ng-click="manageFrame.toggleMenu($index)"></span>
	  </span>
	</li>
      </lu>
    </div>
  </div>

</div>

<comments-widget comments-list="manageFrame.frame.hebData.comments" post-function="manageFrame.frame.addComment(comment)"></comments-widget>

<div id="delete-lu" class="modal" tabindex="-1" role="dialog" aria-labelledby="deleteLU" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
	  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
        <h4 class="modal-title">Are you sure you want to delete this LU?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-default" id="delete-button">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
